.about {
    width: 100%;
    max-width: 960px;
    margin: 150px auto 80px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .about {
        width: 100%;
        padding: 0 20px;
    }
}

.about section {
    margin-bottom: 45px;
}

.about h2 {
    font-size: 24px;
}

.about p {
    font-size: 16px;
    line-height: 1.6;
}

.about a {
    color: #000;
    margin-bottom: 15px;
}

.about .link {
    display: block;
    margin: 0.5rem auto 1rem;
    padding: 1rem;
    width: 180px;
    background: #3430fc;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
}

.link:hover {
    background: #4a47f8;
}