.about {
    width: 100%;
    max-width: 960px;
    margin: 150px auto 80px;
    box-sizing: border-box;
}

@media (max-width: 480px) {
    .about {
        width: 100%;
        padding: 0 20px;
        margin-top: 120px;
    }
}

.about section {
    margin-bottom: 45px;
}

.about h1,
.about h2 {
    font-size: 24px;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-style: italic;
}

.about p,
.about li {
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 0.02em;
}

.about a {
    color: #FD6BA9;
    margin-bottom: 15px;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}

.about ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.about .link {
    display: block;
    margin: 0.5rem auto 1rem;
    padding: 1rem;
    width: 200px;
    background: #3430fc;
    border-radius: 4px;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    font-family: 'IBM Plex Mono', sans-serif;
    font-weight: 600;
    font-style: italic;
}

.about .link:hover {
    background: #FD6BA9;
    text-decoration: none;
}