.map {
  position: relative;
  top: 80px;
  width: 100%;
  height: calc(100vh - 80px);
}

.mapWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.extraButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 1000;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background: #fafafa;
  cursor: pointer;
}

.listButton {
  top: 40px;
  right: 10px;
}

.filterButton {
  top: 80px;
  left: 10px;
}

@media (max-width: 600px) {
  .filterButton {
    display: none;
  }
}

.filterButton.filterOn {
  border-color: #3430FC;
  background-color: #3430fc36;
}

.clusterMarker {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background: #5c67fa;
  border-radius: 100%;
}