.menu {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto;
    padding: 40px;
    z-index: 100000;
    overflow: auto;
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 6px 12px -10px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #3430FC;
    font-family: 'IBM Plex Mono', monospace;
    font-style: italic;
    font-weight: 600;
}

.logoWrapper {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 20%;
}

.logoWrapper img {
    width: 100%;
}

.menulist {
    list-style: none;
    padding: 0;
    margin-bottom: 40px;
}

.menulist li {
    margin: 0 0 20px;
}

.menulist li a {
    font-size: 22px;
    font-weight: 700;
    color: #3430FC;
    text-decoration: none;
    transition: color .2s;
}

.menulist li a:hover {
    color: #FD6BA9;
}

.footer {
    font-size: 14px;
}

@media (max-width: 480px) {
    .footer {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }
}

.footer a {
    display: block;
    color: #000;
    margin-bottom: 10px;
}

.imageWrapper {
    width: 80%;
    margin: 0 auto;
}
.imageWrapper img {
    width: 100%;
}
